@charset "UTF-8";


@media screen and (orientation:portrait) {

    /* TELA EM PÉ*/
    body {
        background-image: url(imagens/celular.png);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        background-position: center;
        
        background-size: cover;
        overflow-x: hidden;
       
}
html {
  position: fixed;
}
    
.img-perfil {
  margin-top: 100px;
  background-image: url(imagens/personpequ.png);
 
}

.social-links {
 
  width: 150px;
  height: auto;
 
  
 
  margin-bottom: 150px;
  
  
} 
.social-links ul li button { 
   max-height: 40px;
 }

}

@media screen and (orientation:landscape) {

     /* TELA DEITADA */

     body {
        background-image: url(imagens/computador.png);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        background-position: center;
        
       
        
     }

}